<p id="notice"><%= notice %></p>

<p>
  <strong>isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>price:</strong>
  <%= @book.price %>
</p>

<%= link_to "Edit" , edit_book_path(@book) %>
<%= link_to "Back" , books_path %>